.container {
    font-family: 'Montserrat', sans-serif;
}

.body__background {
    background: rgba(197, 197, 199, 0.2);
}


.header {
    height: 56px;
    background: #8A8A8A;
}

.header__catalog {
    width: 338px;
    height: 56px;
}

.header__search {
    width: 670px;
    margin-left: 30px;
}

.header__input {
    width: 100%;
    height: 38px;

    background: #D9D9D9;
    border: none;
    border-radius: 10px;
    outline: none;
}

.header__user span {
    border-bottom: 1px #FFFFFF dashed;
    font-weight: 400;
    font-size: 14px;
    margin-left: 18px;
}

.header__user {
    margin-left: 30px;
}

.header__functions {
    margin-left: 20px;
    margin-left: auto;
}

.header__functions__li:not(:last-child) {
    margin-right: 14px;
}

.header__functions ul {
    margin-bottom: 0;
}

.header__user__button {
    border: 0;
    background: none;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.dropbtn {
    background: #515151;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;

    font-weight: 500;
    font-size: 16px;
    display: flex;
}

.dropbtn span {
    margin-left: 14px;
}

.dropdown-content {
    display: none;
    top: 56px;
    position: absolute;
    background: #DBDBDB;
    min-width: 160px;
    overflow: auto;
    width: 338px;
    z-index: 50;
}

.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background: #cfcfcf;
}

.show {
    display: block;
}

.myDropdown a:last-child {
    margin-top: 30px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.dropdown-content__mobile {
    left: 0px;
    z-index: 1010;
    top: 0;
    width: calc(100% - 56px);
    bottom: 0;
    padding: 0;
    position: fixed;
    max-width: 320px;
    background: #fff;
    overflow-y: auto;
}

.left__menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 401;
    position: fixed;
    background: rgba(0, 0, 0, .54);
}

#myDropdown__mobile {
    display: none;
}

.left__menu__head {
    background: #8A8A8A;
    padding: 15px 10px;
}

.left__menu__button {
    margin: 0 5px;
    border: 0;
    background: none;
}

.left__menu__function {
    padding: 13px 10px;
    font-weight: 600;
}

.left__menu__function span {
    margin-left: 7px;
}

.left__menu__function svg,
.left__menu__function img {
    margin-left: 7px;
    width: 30px;
    height: 30px;
}


.left__menu__function a {
    width: 100%;
    display: flex;
}

.left__menu__functions {
    padding: 10px 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.login {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 401;
    position: fixed;
    background: rgba(0, 0, 0, .54);
    display: none;
    align-items: center;
    justify-content: center;
}

.login__menu,
.register__menu {
    background: white;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login__menu {
    width: 344px;
    height: 420px;
}

.register__menu {
    width: 344px;
    height: 476px;
}


.login__title,
.register__title {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.login__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #999999;
}

.login__input,
.register__input {
    width: 296px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.login__else,
.register__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}

.login__next,
.register__next {
    background: #FFAB49;
    border-radius: 8px;
    border: 0;
    width: 296px;
    height: 44px;
    width: 282px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.login__menu:first-child,
.register__menu:first-child {
    padding-top: 24px;
}

.login__another {
    width: 296px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #999999;
    align-items: center;
}

.login__link,
.register__link {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: #3B6D9A;
    border: none;
    background: none;
}

.login__email {
    display: none;
}

.register__menu {
    display: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@media (max-width:991.5px) {

    .header__user span,
    .header__user img,
    .dropbtn,
    .header__functions__li:not(:first-child) {
        display: none;
    }

    .dropbtn__mobile {
        background: none;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: auto;
        display: flex;
        padding-top: 15px;
    }

    .header__catalog {
        width: auto;
        height: 30px;
        margin-bottom: 10px;
    }

    .header__functions {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 5px;

    }

    img[alt="comparison"],
    img[alt="dropbtn__img"] {
        width: 24px;
        height: 24px;
    }

    .header ul {
        padding: 0;
    }

    .header {
        height: 91px;
    }

    .header__all {
        position: relative;
    }

    .header__search {
        margin: 0;
        width: auto;
    }

    .header__functions__li:not(:last-child) {
        margin: 0;
    }

}

@media (min-width: 992px) {
    .dropbtn__mobile {
        display: none;
    }

    .header__all {
        display: flex;
        align-items: center;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.advertising img {
    height: 450px;
    margin: 35px 0 35px 0;
    margin-left: auto;
    width: 72%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.brands ul {
    padding: 0;
}

.brands__link:not(:last-child) {
    margin-right: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 991.5px) {
    .brands {
        overflow: auto;
    }


    .brands::-webkit-scrollbar {
        display: none;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.catalog {
    margin-top: 60px;
}

.catalog__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    min-height: 39px;
    word-break: break-word;
    margin: 5px 0;
}

.catalog__col {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px 10px 15px 10px;
    margin: 12px 0;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.catalog__img {
    width: 100%;

}

.catalog__buy {
    width: 100%;
    margin-top: 20px;
}

.catalog__price {
    margin-right: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

img[alt="catalog__division"] {
    margin-right: 10px;
}

.catalog__button__like {
    background: none;
}

.catalog__button__like img {
    width: 20px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.advertising .slider {
    min-width: 0;
    position: relative;
    padding: 0 0;
}

/* Слайдер */
.advertising .slick-slider {}


/* Слайдер запущен */
.advertising .slick-slider.slick-initialized {}

/* Слайдер с точками */
.advertising .slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.advertising .slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.advertising .slick-track {
    display: flex;
}

/* Слайд */
.advertising .slick-slide {}

/* Слайд активный (показывается) */
.advertising .slick-slide.slick-active {}

/* Слайд основной */
.advertising .slick-slide.slick-current {}

/* Слайд по центру */
.advertising .slick-slide.slick-center {}

/* Клонированный слайд */
.advertising .slick-slide.slick-cloned {}

/* Стрелка */
.advertising .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 33px;
    height: 68px;
    border: 0;
    margin: -34px 0 0 0;
}

/* Стрелка влево */
.advertising .slick-arrow.slick-prev {
    left: 0;
    background: url("/image/svg/slider/right.svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.advertising .slick-arrow.slick-next {
    right: 0;
    background: url("/image/svg/slider/left.svg") 0 0/100% no-repeat;
}

/* Стрелка не активная */
.advertising .slick-arrow.slick-disabled {}

/* Точки (булиты) */
.advertising .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertising .slick-dots li {
    list-style: none;
}

.advertising .slick-dots li:not(:last-child) {
    margin-right: 25px;
}

/* Активная точка */
.advertising .slick-dots li.slick-active button {
    background: #000000;
}

/* Элемент точки */
.advertising .slick-dots li button {
    font-size: 0;
    width: 36.27px;
    height: 2px;
    background: #D9D9D9;
    border: 0;
}