.container {
    font-family: 'Montserrat', sans-serif;
}

.body__background {
    background: rgba(197, 197, 199, 0.2);
}


.header {
    height: 56px;
    background: #8A8A8A;
}

.header__catalog {
    width: 338px;
    height: 56px;
}

.header__search {
    width: 670px;
    margin-left: 30px;
}

.header__input {
    width: 100%;
    height: 38px;

    background: #D9D9D9;
    border: none;
    border-radius: 10px;
    outline: none;
}

.header__user span {
    border-bottom: 1px #FFFFFF dashed;
    font-weight: 400;
    font-size: 14px;
    margin-left: 18px;
}

.header__user {
    margin-left: 30px;
}

.header__functions {
    margin-left: 20px;
    margin-left: auto;
}

.header__functions__li:not(:last-child) {
    margin-right: 14px;
}

.header__functions ul {
    margin-bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.dropbtn {
    background: #515151;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;

    font-weight: 500;
    font-size: 16px;
    display: flex;
}

.dropbtn span {
    margin-left: 14px;
}

.dropdown-content {
    display: none;
    top: 56px;
    position: absolute;
    background: #DBDBDB;
    min-width: 160px;
    overflow: auto;
    width: 338px;
    z-index: 50;
}

.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background: #cfcfcf;
}

.show {
    display: block;
}

.myDropdown a:last-child {
    margin-top: 30px;
    ;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.dropdown-content__mobile {
    left: 0px;
    z-index: 1010;

    top: 0;
    width: calc(100% - 56px);
    bottom: 0;
    padding: 0;
    position: fixed;
    max-width: 320px;
    background: #fff;
    overflow-y: auto;
}

.left__menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 401;
    position: fixed;
    background: rgba(0, 0, 0, .54);
}

#myDropdown__mobile {
    display: none;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width:991.5px) {

    .header__user span,
    .header__user img,
    .dropbtn,
    .header__functions__li:not(:first-child) {
        display: none;
    }

    .dropbtn__mobile {
        background: none;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: auto;
        display: flex;
        padding-top: 15px;
    }

    .header__catalog {
        width: auto;
        height: 30px;
        margin-bottom: 10px;
    }

    .header__functions {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 5px;

    }

    img[alt="comparison"],
    img[alt="dropbtn__img"] {
        width: 24px;
        height: 24px;
    }

    .header ul {
        padding: 0;
    }

    .header {
        height: 91px;
    }

    .header__all {
        position: relative;
    }

    .header__search {
        margin: 0;
        width: auto;
    }

    .header__functions__li:not(:last-child) {
        margin: 0;
    }

}

@media (min-width: 992px) {
    .dropbtn__mobile {
        display: none;
    }

    .header__all {
        display: flex;
        align-items: center;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.advertising img {
    height: 450px;

    margin: 35px 0 35px 0;
    margin-left: auto;
    width: 72%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.brands ul {
    padding: 0;
}

.brands__link:not(:last-child) {
    margin-right: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 991.5px) {
    .brands {
        overflow: auto;
    }


    .brands::-webkit-scrollbar {
        display: none;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.catalog {
    margin-top: 60px;
}

.catalog__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    min-height: 39px;
    word-break: break-word;
    margin: 5px 0;
}

.catalog__col {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px 10px 15px 10px;
    margin: 12px 0;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.catalog__img {
    width: 100%;

}

.catalog__buy {
    width: 100%;
    margin-top: 20px;
}

.catalog__price {
    margin-right: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

img[alt="catalog__division"] {
    margin-right: 10px;
}

.catalog__button__like {
    background: none;
}

.catalog__button__like img {
    width: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */