{% load static %}
<div class="bin" id="bin">
    <div class="bin-content">
        <div class="header_bin">
            <span class="title_bin">Кошик</span>
            <img src="{% static 'img/png/bin/none.png' %}" alt="img-product" class="del_bin-img" onclick="BinHide()">
        </div>

        <div class="product">
            <div class="img_product">
                <img src="{% static 'img/temp/pngwing%206.jpg' %}" alt="img-product" class="img_product-img">
            </div>
            
            <div class="product-info">
                <div class="product-info">
                    <span class="product-name">Ігрова консоль Nintendo Switch Neon (Blue/Red)</span>
                    <span class="product-code">Код: 63913</span>
                    <img src="{% static 'img/png/bin/bin.png' %}" alt="img-product" class="del_one_bin-img">
                </div> 
                <div class="cart-counter">
                    <button type="button"  class="button-counter" aria-label="Видалити один товар" id="cart-counter-decrement-button">
                        -
                    </button>
                    <input class="input-counter" value="1"></input>
                    <button type="button" class="button-counter" aria-label="Додати ще один товар" id="cart-counter-increment-button">
                        +
                    </button>
                    <span class="product-price">11 999 ₴</span>
                </div>

            </div> 
        </div>

        <div class="product">
            <div class="img_product">
                <img src="{% static 'img/temp/pngwing%206.jpg' %}" alt="img-product" class="img_product-img">
            </div>
            
            <div class="product-info">
                <div class="product-info">
                    <span class="product-name">Ігрова консоль Nintendo Switch Neon (Blue/Red)</span>
                    <span class="product-code">Код: 63913</span>
                    <img src="{% static 'img/png/bin/bin.png' %}" alt="img-product" class="del_one_bin-img">
                </div> 
                <div class="cart-counter">
                    <button type="button"  class="button-counter" aria-label="Видалити один товар" id="cart-counter-decrement-button">
                        -
                    </button>
                    <input class="input-counter" value="1"></input>
                    <button type="button" class="button-counter" aria-label="Додати ще один товар" id="cart-counter-increment-button">
                        +
                    </button>
                    <span class="product-price">11 999 ₴</span>
                </div>

            </div> 
        </div>

        <div class="product">
            <div class="img_product">
                <img src="{% static 'img/temp/pngwing%206.jpg' %}" alt="img-product" class="img_product-img">
            </div>
            
            <div class="product-info">
                <div class="product-info">
                    <span class="product-name">Ігрова консоль Nintendo Switch Neon (Blue/Red)</span>
                    <span class="product-code">Код: 63913</span>
                    <img src="{% static 'img/png/bin/bin.png' %}" alt="img-product" class="del_one_bin-img">
                </div> 
                <div class="cart-counter">
                    <button type="button"  class="button-counter" aria-label="Видалити один товар" id="cart-counter-decrement-button">
                        -
                    </button>
                    <input class="input-counter" value="1"></input>
                    <button type="button" class="button-counter" aria-label="Додати ще один товар" id="cart-counter-increment-button">
                        +
                    </button>
                    <span class="product-price">11 999 ₴</span>
                </div>

            </div> 
        </div>

        <div class="order_buy">
            <div class="sum_price">
                <span class="sum_price-title">Разом:</span>
                <span class="sum_price-number">11 999 ₴</span>
            </div>
            <div class="button_buy-bin">
                <button class="button_buy-bin-button">Оформити замовлення</button>
            </div>
            
        </div>
    </div>
</div>